/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

:root {
  --main-color: #eaeaea;
  --background-dark: #000;
  --btn-container: #fff;
  --link-color: #000;
  --secondary-color: #fff;
  --border-color: #c1c1c1;
  --border-color-dark: #000;
  --main-text: #000;
  --secondary-text: #4b5156;
  --theme-dot-border: #24292e;
  --preview-shadow: #f0ead6;
  --button-color: #000;
  --preview-bg: rgb(251, 249, 243, 0.8);
  --link-color: #17a2b8;
  --dark-text: #000;
  --dot-1: #fc6058;
  --dot-2: #fec02f;
  --dot-3: #2aca3e;
  --ruso: "Russo One", sans-serif;
  --roboto: "Roboto", sans-serif;
  --kumbho: "Kumbh Sans", sans-serif;
}

[data-theme="dark"] {
  --btn-container: #000;
  --link-color: #fff;
  --main-color: #000;
  --background-dark: #000;
  --secondary-color: #000;
  --border-color: #c1c1c1;
  --border-color-dark: #fff;
  --main-text: #fff;
  --secondary-text: #4b5156;
  --theme-dot-border: #fff;
  --preview-shadow: #f0ead6;
  --button-color: #fff;
  --preview-bg: rgb(251, 249, 243, 0.8);
  --link-color: #17a2b8;
  --dark-text: #000;
  --dot-1: #fc6058;
  --dot-2: #fec02f;
  --dot-3: #2aca3e;
  --ruso: "Russo One", sans-serif;
  --roboto: "Roboto", sans-serif;
  --kumbho: "Kumbh Sans", sans-serif;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--main-text);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
}
// Maybe put this in utilities ?

a {
  text-decoration: none;
  color: var(--link-color);
  outline: 0;
}
ul {
  list-style: none;
}

p,
span,
label,
input,
textarea,
ul,
li {
  color: var(--secondary-text);
  font-family: "Roboto Mono", monospace;
}

p {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 20px;
}
