@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.home__hero-section {
  color: #fff;
  padding: 55px;
  min-width: 100vw;
}

.home__hero-row {
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  padding: 0 50px 50px 50px;
  margin-bottom: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.home__hero-text-wrapper {
  max-width: 600px;
  padding-top: 0;
}

.sub-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-line-home {
  font-family: 'Permanent Marker', sans-serif;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: 700;
  letter-spacing: 1.8px;
  line-height: 1.6;
  text-transform: uppercase;
  filter: brightness(1.5);
  filter: contrast(300);
  font-family: 'Permanent Marker', sans-serif;
  :after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 0.8s ease, background-color 0.5s ease;
  }
  h2 {
    margin-bottom: 2.5rem;
  }
}

.para-home-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.dark {
  color: #1c2237;
}

.darkBg {
  // background-color: #202c39;
  background-color: #000;
}

.home__hero-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.home__hero-img-wrapper {
  max-width: 450px;
}

.home__hero-img {
  margin: 0 0 0 150px;
  padding-right: 0;
  max-width: 55%;
  border-radius: 18px;
  filter: grayscale(100%);
  &:hover {
    transition-duration: 1s;
    filter: drop-shadow(16px 16px 20px rgba(110, 32, 219, 1));
    transition-property: opacity;
    background: rgb(2, 0, 36);
    transform: scale(1.1);
    transition: all ease-in-out 0.6s;
  }
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  animation: fadeIn ease-in 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.icon-social {
  margin: 10px;
  fill: #000;
  width: 35px;
  height: 35px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.light {
  color: #fff;
  width: 15%;
  border-bottom: 2px solid #f00946;
  margin-bottom: 10px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1c2237;
  border: 1px solid #fff;
  color: #fff;
  width: 350px;
  border-radius: 20px;
  p {
    padding: 1rem 1rem;
    background: #c0392b; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #8e44ad,
      #c0392b
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #8e44ad,
      #c0392b
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    margin: 1rem;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    line-height: 0.5;
    font-family: inherit;
  }
}

.skills {
  filter: brightness(1.5);
  filter: contrast(300);
  width: 50%;
  margin: 0 auto;
  margin-top: 15px;
  font-family: 'Permanent Marker', sans-serif;
  background-color: #352384;
  background-image: linear-gradient(315deg, #352384 0%, #f3f3f5 74%);
  -webkit-background-clip: text;
  border-bottom: 2px solid #ff3cac;
}

.list {
  list-style-type: none;
  font-size: 18px;
}

.paragraph {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 15px;
  text-align: center;
}

.paragraph-2 {
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
}

.showcase-skills {
  margin: 1rem;
  width: 100%;
  flex-wrap: wrap;
  border-radius: 10px;
  min-height: 20vh;
  padding: 2rem 0px;
}

/* skills Section */
.skills-title {
  text-align: center;
  border-bottom: 2px solid #ff3cac;
  width: 10%;
  margin: 0 auto;
}

.skills-header {
  text-align: center;
  h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
  }
}

.skills-body {
  width: 100%;
  display: flex;
  flex-flow: row-reverse wrap;
  padding: 1rem;
  justify-content: space-evenly;
}

.skill-icon {
  color: #5fd5f7;
  margin-left: 5px;
  font-size: 30px;
  cursor: pointer;
  &:hover {
    color: #2ab7ca;
    cursor: pointer;
  }
}

.skill {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  flex-wrap: wrap;
  text-align: center;
  p {
    padding: 1rem 1rem;
    font-family: inherit;
    background-color: #60dafb;
    filter: brightness(0.9);
    color: white;
    margin: 0.6rem;
    border-radius: 8px;
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 0.7;
  }
}

.skill-2 {
  margin-top: 1rem;
}

/* Social Icons */
.social-icon-link {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  &:hover {
    color: #2ab7ca;
    cursor: pointer;
  }
  a {
    &:hover {
      color: #2ab7ca;
      cursor: pointer;
    }
  }
}

@media screen and(max-width: 1100px) {
  .top-line {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .top-line {
    width: 100%;
  }

  .paragraph {
    width: 150%;
  }

  .paragraph-2 {
    width: 150%;
  }
}

@media screen and (max-width: 970px) {
  .paragraph {
    width: 100%;
  }

  .paragraph-2 {
    width: 100%;
  }
  .sub-title {
    width: 40%;
  }
}

@media screen and (max-width: 890px) {
  .paragraph {
    width: 100%;
  }

  .paragraph-2 {
    width: 100%;
  }
}

@media screen and(max-width: 850px) {
  .top-line {
    width: 100%;
  }
  .sub-title {
    width: 50%;
  }

  .para-home-container {
  }

  .paragraph {
    width: 100%;
  }

  .paragraph-2 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
    padding-bottom: 65px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
  .home__hero-img {
    margin-left: 8em;
    padding-right: 0;
    max-width: 50%;
  }

  .skills-container {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    p {
      padding: 1.2rem 1.2rem;
      background-color: rgb(25, 10, 239);
      color: white;
      margin: 1rem;
      border-radius: 5px;
      text-align: center;
      display: flex;
      word-wrap: wrap;
      -webkit-box-align: center;
      align-items: center;
      line-height: 1;
      font-family: inherit;
    }
  }

  .skill {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1.5rem;
  }
  .skills-title {
    width: 30%;
  }
}

@media (max-width: 640px) {
  .skills-container {
    margin-top: 3em;
    margin-left: 2em;
    text-align: center;
    background-color: #1c2237;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 20px;
    p {
      padding: 1.2rem 1.2rem;
      background-color: rgb(25, 10, 239);
      color: white;
      margin: 1rem;
      border-radius: 8px;
      text-align: center;
      display: flex;
      word-wrap: wrap;
      -webkit-box-align: center;
      align-items: center;
      line-height: 1;
      font-family: inherit;
    }
  }
  .home__hero-img {
  }

  .skill {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    p {
      line-height: 0.7;
      font-size: 16px;
    }
  }
  .home__hero-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .skill-body {
    width: 75%;
  }
  .top-line-home {
    text-align: center;
    margin-left: 1.2rem;
  }
  .para-home-container {
    width: 450px;
  }
}

@media (max-width: 400px) {
  .skills-container {
    text-align: center;
    background-color: #1c2237;
    border: 1px solid #fff;
    color: #fff;
    width: 450px;
    border-radius: 20px;
    p {
      font-size: 20px;
      border-radius: 5px;
      text-align: center;
      display: flex;
      word-wrap: wrap;
      -webkit-box-align: center;
      align-items: center;
      line-height: 1;
      font-family: inherit;
    }
  }
  .home__hero-img {
    margin-left: -1.5em;

    min-width: 150%;
    max-width: 150%;
  }
  .home__hero-text-wrapper {
    min-width: 20px;
  }

  .top-line {
    width: 140%;
  }

  .sub-title {
    width: 120%;
  }
}
@media (max-width: 380px) {
  .para-home-container {
    width: 350px;
  }
}
