:root {
  --bg: #fff;
  --text: #000;
  --textTinted: rgba(0, 0, 0, 0.5);
  --brand: #3867d6;
  --brandActive: #2d52ab;
  --brandTinted: rgba(86, 114, 227, 0.2);
  --brandTintedActive: rgba(136, 164, 230, 1);
  --headerBg: #ffffff;
  --border: rgba(0, 0, 0, 0.08);
  --borderActive: rgba(0, 0, 0, 0.25);
  --star: #fece02;
  --fontFamily: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --boxBg: #f3f3f3;
  --siteWidth: 83ch;
  --inputBg: white;
  --likeButton: rgba(0, 0, 0, 0.05);
  --likeButtonHover: rgba(0, 0, 0, 0.1);
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --secondary: #caca28;
  --transparent: rgba(255, 255, 255, 0);

  --divider-alpha: 0.12;
  --divider-opaque: 9, 17, 34;
  --divider: rgba(var(--divider-opaque), var(--divider-alpha, 0.12));
}

[data-theme='dark'] {
  --bg: #000;
  --text: #fff;
  --textTinted: rgba(255, 255, 255, 0.5);
  --headerBg: #09121e;
  --border: rgba(255, 255, 255, 0.08);
  --borderActive: rgba(255, 255, 255, 0.25);
  --boxBg: #1f1e1d;
  --star: #fef102;
  --inputBg: #292929;
  --likeButton: rgba(255, 255, 255, 0.2);
  --likeButtonHover: rgba(255, 255, 255, 0.3);
  --secondary: yellow;
  --transparent: rgba(0, 0, 0, 0);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--fontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  color: var(--text);
  background-color: var(--bg);
}

h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: -0.3px;

  @media (min-width: 480px) {
    margin-bottom: 55px;
  }
}

.title {
  font-size: 32px;
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3);
  }

  30% {
    transform: scaleY(1);
  }

  60% {
    transform: scaleY(0.5);
  }

  80% {
    transform: scaleY(0.75);
  }

  100% {
    transform: scaleY(0.6);
  }
}

.sr-only {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@keyframes wave {
  from,
  50%,
  to {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(9deg);
  }
}

.wave {
  display: inline-block;
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}

.fullWidth {
  width: 100%;
  margin-bottom: 40px;

  @media (min-width: 480px) {
    margin-bottom: 75px;
  }
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  @media (max-width: 600px) {
  }
}

.corner-radius-8 {
  border-radius: 8px;
}
.bordered-image {
  border: 1px solid var(--grey) !important;
  box-sizing: border-box !important;
}
.fill-image {
  position: relative;

  border-radius: 8px;
  width: 100%;
}
