.text {
  margin-bottom: 30px;
  padding-top: 30px;
  font-size: 20px;
  a {
    color: var(--brand);
    transition: color 200ms ease-out;

    &:hover,
    &:focus {
      color: var(--brandActive);
    }
  }
}

.photoContainer {
  position: relative;

  height: 280px;
  width: 100%;
  margin-bottom: 30px;
}
@media (min-width: 632px) {
  .photoStackContainer {
    width: auto;
  }
}
