/* DARK-MODE STYLES  */
:root {
    --mainColor: #000;
    --secondaryColor: #000;

    --borderColor: #164d56;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --theme-dot-border: #fff;

    --previewBg: rgb(81, 90, 72, 0.8);

    --previewShadow: #4b5267;

    --buttonColor: #fff;
}

.social-list__link {
    color: #fff;
}

.post-preview .social-list__link {
    color: #000;
}

.icon-wrapper i {
    color: #fff;
}

.icon-wrapper i:hover {
    color: #76e5fc;
}

.watch-projects {
    margin-top: 2em;
    border: 1px solid #fff;
    opacity: 2;
}




.post-preview { 
    background-color: #000;
    
}

.post-title { 
    color: #fff; 
    text-align: center;
}

.scrollToTopBtn { 
    color: #000; 
}

.btn-container { 
    background-color: #000;
}

i { 
    color:#fff
}

.container { 
    text-align: center;
}

.container {
    background-color: #000;
    color:#fff; 
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 640px;
    margin: 0 auto; 
    margin-bottom: 1em; 
    text-align:center; 
    border: 1px solid #fff;
  }

  .container i { 
      text-align: center;
  }

  .nav-wrapper { 
      background-color: #000;
  }

  .s1 { 
    overflow: hidden;
}

.nav-wrapper a{ 
    color: #fff;
}