@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

/* DARK-MODE STYLES  */
:root {
  --mainColor: #000;
  --secondaryColor: #000;

  --borderColor: #164d56;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --theme-dot-border: #fff;

  --previewBg: rgb(81, 90, 72, 0.8);

  --previewShadow: #4b5267;

  --buttonColor: #fff;
}

.social-list__link {
  color: var(--mainText);
}

.post-preview .social-list__link {
  color: var(--mainText);
}

.icon-wrapper i {
  color: var(--mainText);
}

.icon-wrapper i:hover {
  color: #76e5fc;
}

.watch-projects {
  margin-top: 2em;
  border: 1px solid var(--mainText);
  opacity: 2;
}

.post-preview {
  background-color: var(--mainColor);
}

.post-title {
  color: var(--mainText);
  text-align: center;
}

.scrollToTopBtn {
  color: var(--mainColor);
}

.btn-container {
  background-color: var(--mainColor);
}

i {
  color: var(--buttonColor);
}

.container {
  background-color: var(--mainColor);
  color: var(--mainColor);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 750px;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
  border: 1px solid var(--mainText);
}

.container i {
  text-align: center;
}

.nav-wrapper {
  background-color: var(--mainColor);
}

.s1 {
  overflow: hidden;
}

.nav-wrapper a {
  color: var(--mainText);
}

.current {
  border-bottom: 1px solid var(--mainText);
}

p {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 20px;
  color: var(--mainText);
}

.post-intro {
  color: var(--mainText);
}
