img { 
    object-fit: cover ; 
    max-width: 300px ; 
  }
  
  .wrapper {
    margin-left: 165px; 
    width: 69% ;
    padding: 10px ;  
    justify-content: center;
    display: flex;
    flex-direction: column; 
  
  }
  
  .title { 
    text-align: center;
  }
  
  #skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color:  #333;
    color: #fff;
  }
  .new-btn { 
    width: 100% ;  
    margin-bottom: 2em;
  }