/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CUSTOM PROPS  */
:root {
  --mainColor: #eaeaea;

  --background-dark: #000;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: #000;
  --secondaryText: #4b5156;

  --theme-dot-border: #24292e;

  --previewBg: rgb(251, 249, 243, 0.8);

  --previewShadow: #f0ead6;

  --buttonColor: #000;
}

/* 
==================================
GENERAL RESET + CUSTOM FONTS START  
===================================
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  align-items: center;
  justify-content: center;
  transform: background 0.2s linear;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

p,
span,
label,
input,
textarea,
ul,
li {
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}
/* 
==================================
GENERAL RESET + CUSTOM FONTS END  
===================================
*/

/*======================
DARK MODE SWITCHER START
========================*/
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 17px;
  width: 40px;
  transform: scale(1.5);
  padding: 5px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

/*====================
DARK MODE SWITCHER END
=====================*/

/* 
=====================
  SECTION ONE 
=====================*/
.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

/* 
====================
  SECTION TWO  START 
====================*/
.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container {
  width: 1100px;
  margin: 0 auto;
}

.greeting-wrapper {
  display: grid;
  min-height: 10em;
  align-content: center;
  text-align: center;
  -webkit-text-fill-color: transparent;
  font-family: 'Russo One', sans-serif;
}

.h2-intro-text {
  background: linear-gradient(90deg, #2a65f8, #3bd86d);
  -webkit-background-clip: text;
  font-family: 'Russo One', sans-serif;
}
.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr, 1fr;
  /* grid-template-rows: 3em 30em; */
  grid-template-areas:
    'nav-wrapper  nav-wrapper'
    'left-column right-column';
}

.project-title-text {
  background: linear-gradient(90deg, #2a65f8, #3bd86d);
  -webkit-background-clip: text;
}

/* 
====================
  SECTION TWO  END 
====================*/

/* ===============
  NAVIGATION START 
 ===============*/

.icon-wrapper i {
  margin: 0 5px 0 15px;
  cursor: pointer;
}

.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  border-radius: 5px 5px 0 0;
  background-color: var(--background-dark);
}

.navigation {
  background-color: #000;
  padding: 25px;
  width: 100%;
  text-align: center;
}

.navigation--item {
  font-size: 22px;
  font-family: 'Roboto Mono', monospace;
  margin-left: 0.9em;
}

.navigation--item:hover {
  color: #fff;
}

.navigation--item:active {
  outline: 0;
}

.i-wrapper {
  padding: 25px;
  color: #fff;
  position: absolute;
  top: 0; 
  left: 0;
}

.i-wrapper i{
  margin-left: .7em;
}

/* ===============
  NAVIGATION END 
 ===============*/

/* =============
 Navigation properties (social icons, a, i, current class, btn-wrapper) 
 START
 ============= */
.social-list__item {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
  color: black;
}
.social-list__link {
  color: #000;
  padding: 0 1em 0 1em;
}

#navigation a {
  color: var(--mainText);
}

i:hover {
  color: #76e5fc;
}

#navigation {
  cursor: pointer;
}

.btn-wrapper {
  text-align: center;
  margin-bottom: 1em;
}

.current {
  border-bottom: 1px solid #fff;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}
/* =============
 Navigation properties (social icons, a, i, current class, btn-wrapper) 
 END 
 ============= */

/* ===============
  DOTS START 
 ===============*/
.dots-wrapper {
  display: flex;
  padding: 10px;
}

.browser-dot {
  background-color: #000;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

#profile_pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

.theme-dot {
  height: 30px;
  width: 30px;
  margin: 5px;
  border: 2px solid var(--theme-dot-border);
  background-color: #000;
  border-radius: 50%;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.theme-dot:hover {
  border-width: 5px;
}

#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2aca3e;
}
/* ===============
  DOTS END 
 ===============*/

/* =====================================
  DIFFERENT COLORS FOR DARK / LIGHT MODE 
 =======================================*/

#light-mode {
  background-color: #fff;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

#theme-options-wrapper {
  display: flex;
  justify-content: center;
}

/* 
=====================
  LEFT COL STYLES  
=====================*/
.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

/* 
=========================
  RIGHT COL STYLES  START
=========================*/
.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 100px;
}

#skills {
  border-radius: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--previewShadow);
}

#social-img {
  width: 100%;
}

.social-links {
  display: grid;
  align-content: center;
  text-align: center;
}
.thumbnail {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
  background-size: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
/* 
=========================
  RIGHT COL STYLES  END
=========================*/

/* =============
 POSTS START 
 ============= */
.post {
  padding-bottom: 50px;
}

.post-preview {
  background-color: #fff;
  padding: 25px;
  border-radius: 15px;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 450px);
  gap: 50px;
  justify-content: center;
}

.post-title {
  color: #000;
  margin: 0;
}

.post-intro {
  color: #4b5156;
  font-size: 14px;
  line-height: 2;
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--buttonColor);
  border: none;
}

.container-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* =============
 POSTS END 
 ============= */

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 750px;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}

.container img {
  object-fit: cover;
  border-radius: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}

.card-title {
  text-align: center;
}
.card-text {
  line-height: 1.6;
  font-size: 16px;
}

/*================
SCROLL TO TOP START
==================*/
.scrollToTopBtn {
  z-index: 100;
  text-align: center;
  margin: 0 auto;
  border-radius: 20%;
}

.scrollToTopBtn i {
  font-size: 25px;
}

.s1-alt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h3-center {
  text-align: center;
}

/*================
SCROLL TO TOP END
==================*/

/*================
UL NAV ITEMS 
==================*/
.home {
  font-size: 20px;
}
.projects {
  font-size: 20px;
}

.home:hover,
.projects:hover {
  color: #17a2b8;
}

/*================
DARK MODE SWITCHER 
==================*/
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 17px;
  width: 40px;
  transform: scale(1.5);
  padding: 5px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.theme-switcher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.up-icon {
  color: #000;
}

/* 
=====================
  MEDIA QUERIES 
=====================*/
@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    /* grid-template-rows: 3em 30em; */
    grid-template-areas:
      'nav-wrapper'
      'left-column'
      'right-column';
  }

  .right-column {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 1em 0 1em 1em;
  }
}
