@import '../styles/partials/utils.scss';
@import '../styles/partials/mixins.scss';
@import '../styles/variables.scss';

.doubleContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;

  @include media(md) {
    flex-direction: row;
  }
}

.sideImage {
  position: relative;
  width: 100%;

  @include media(md) {
    max-width: 360px;
  }

  .containerImage {
    min-width: 100%;
    width: 100%;

    @include media(md) {
      position: sticky;
      top: 80px;
      width: 360px;
    }

    @include media(lg) {
      top: 96px;
    }
  }
}

.sideContent {
  margin-left: 0;
  margin-top: 40px;

  @include media(md) {
    margin-left: 40px;
    margin-top: 0;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.button {
  background-color: $dark;
  border-radius: 4px;
  color: $light;
  padding: 0.75rem 1.2rem;
  width: fit-content;

  &:hover {
    background-color: $light-dark;
  }
}
