@import '../styles/partials/utils.scss';
@import '../styles/partials/mixins.scss';
@import '../styles/variables.scss';

.doubleContent {
  @extend .container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  @include media(md) {
    flex-direction: row;
  }
}

.sideImage {
  position: relative;
  width: 100%;

  @include media(md) {
    max-width: 360px;
  }

  .containerImage {
    width: 100%;
    min-width: 100%;
    h1 {
      font-size: 110px;
    }

    @include media(md) {
      width: 360px;
      position: sticky;
      top: 80px;
    }

    @include media(lg) {
      top: 96px;
    }
  }
}

.sideContent {
  margin-left: 0;
  margin-top: 40px;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  text-align: left;
  display: flex;
  width: 100%;
  h1 {
    margin-bottom: 15px;
  }
  ul {
    margin-top: 24px;
  }
  ul,
  li {
    margin-bottom: 15px;
    list-style-type: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  a {
    color: $pink;
    opacity: 1;

    &:hover {
      opacity: 0.64;
    }
  }
  @include media(md) {
    margin-top: 0;
    margin-left: 40px;
  }

  .button {
    width: fit-content;
    background-color: $dark;
    padding: 0.75rem 1.2rem;
    border-radius: 4px;
    color: $light;

    &:hover {
      background-color: $light-dark;
    }
  }
}
