@import '../../styles/partials/mixins.scss';

.tags {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 16px;

  p {
    display: block;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 400;
    color: var(--pink);
    line-height: 1;
    margin-bottom: 10px;
  }

  @include media(md) {
    margin-bottom: 0;
  }
}
