.input {
  border: 2px solid;
  border: 1px solid #000 !important;
  border-radius: 4px;
  font-size: 1rem;
  margin: 0.25rem;
  max-width: 100%;
  min-width: 125px;
  padding: 0.5rem;
  padding-left: 35px;
  transition: all 150ms ease-out;
  transition: background-color 0.5s ease-out;
  width: 250px;

  &:hover,
  &:active,
  &:focus {
    border-color: #ccc;
    box-shadow: 0 0 0 4px #ccc;
    outline: 0;
  }
}

.inputWrapper {
  position: relative;
  margin-bottom: 1rem;
}

.inputIcon {
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% - 1px));
  width: 18px;

  circle,
  line {
    opacity: 0.6;
    stroke: var(--text);
  }
}
