@import '../../styles/partials/mixins';

.container {
  width: 100%;
  max-width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;

  @include mediaquery('md') {
    max-width: 900px;
    padding: 0 auto;
  }

  @include mediaquery('lg') {
    max-width: 1050px;
  }

  // @include media(xl) {
  //   max-width: 1170px;
  // }
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  @extend .container;

  &.center {
    height: -webkit-fill-available;
    min-height: -webkit-fill-available;
    justify-content: center;
    padding-top: unset;
    padding-bottom: unset;
  }
}

.title {
  color: #fff;
  font-size: 22px;
  letter-spacing: 0.14em;
  position: relative;
  margin-bottom: 30px;
  width: fit-content;

  &:after {
    content: '';
    width: 50%;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: 8px;
  }
}
