@use '@src/styles/_mixins';

.thumbnail {
  cursor: pointer;
  width: 100%;

  .content {
    @include mixins.flex(center, flex-start);
    flex-flow: column wrap;
    padding: 1rem;

    .title {
      margin-bottom: 1rem;
    }

    .excerpt {
      color: var(--black-300);
      margin-bottom: 1.5rem;
    }

    .stack {
      @include mixins.flex(flex-start);
      flex-wrap: wrap;
      gap: 0.8rem 1rem;

      .tech {
        background-color: var(--white-100);
        border: 0.5px solid var(--white-200);
        border-radius: 2rem;
        padding: 0.4rem 1.4rem;
      }
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @media (min-width: 300px) {
    flex-direction: row;
    gap: initial;
  }
}

.link {
  align-items: center;
  color: #000;
  display: inline-flex;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 6px;
  transition: color 200ms ease-out;

  @media (min-width: 480px) {
    font-size: 18px;
  }

  &:hover,
  &:focus {
    color: var(--brandActive);
  }

  svg {
    height: auto;
    margin-left: 8px;
    width: 20px;
  }
}
