@mixin mediaquery($query) {
  $breakpoints: (
    'xs': '(min-width: 500px)',
    'sm': '(min-width: 639px)',
    'md': '(min-width: 778px)',
    'lg': '(min-width: 900px)',
    'xl': '(min-width: 970px)',
    'xxl': '(min-width: 1250px)',
    'xxxl': '(min-width: 1800px)',
  );

  @if map-has-key($breakpoints, $query) {
    @media screen and #{map-get($breakpoints, $query)} {
      @content;
    }
  } @else {
    @error "ERROR: No breakpoint specified for query '#{$query}'";
  }
}

@mixin placeholder() {
  &::input-placeholder {
    // chrome / safari / opera
    @content;
  }

  &::placeholder {
    // firefox
    opacity: 1;
    @content;
  }

  &::input-placeholder {
    // ie 10 +
    @content;
  }

  &::placeholder {
    // firefox 18-
    @content;
  }
}

@mixin flex($jus: center, $ali: center) {
  align-items: $ali;
  display: flex;
  justify-content: $jus;
}
