@use '_mixins';

pre[data-lang]:not(pre[data-lang='']) {
  position: relative;

  &::after {
    background-color: var (--syntax-background);
    border-radius: 1rem 1rem 0 0;
    content: attr(data-lang);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1.1px;
    padding: 0.3rem 1.1rem;
    position: absolute;
    right: 2.5rem;
    text-transform: uppercase;
    top: 1px;
    transform: translateY(-100%);
  }
}
