.headerLink {
  display: flex;
  align-items: center;
  position: relative;

  a {
    position: absolute;
    left: -1.5rem;
    transition: opacity 200ms;
    width: 1.2rem;
    height: 100%;

    svg {
      width: 100%;
      height: 100%;
    }

    &:focus-visible {
      opacity: 1;
    }
  }

  @media (hover: hover) {
    a {
      opacity: 0;
    }
  }

  &:hover a {
    opacity: 1;
  }
}

.reactMarkdown {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  a {
    text-decoration: underline;
    color: var(--text-color);
  }

  pre {
    background: var(--dark) !important;
    border-radius: 0.3rem;
    overflow-x: auto;
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    code {
      padding: 0;
      background: none;
    }

    &:hover button {
      opacity: 1;
    }
  }

  code {
    padding: 0.1rem 0.5rem;
    background: var(--dark);
    border-radius: 0.3rem;
  }

  h4,
  h3,
  h2,
  h1 {
    margin-top: 1rem;
    scroll-margin-top: 4.5rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.35rem;
  }

  h6,
  h5,
  h4,
  h3,
  h2,
  h1 {
    width: 100%;
    position: relative;

    a {
      position: absolute;
      cursor: pointer;

      width: 100%;
      height: 100%;
    }
  }

  p,
  hr {
    font-size: 1.1rem;
    margin: 0.5rem 0;
    line-height: 2rem;
  }

  li {
    margin-bottom: 0.3rem;
    margin-left: 1.5rem;
    list-style-type: '- ';
  }

  summary {
    cursor: pointer;
    transition: 200ms;
  }
}

.copyBtn {
  position: absolute;
  right: 0;
  top: 0rem;
  z-index: 99;
  cursor: pointer;
  border: none;
  background-color: var(--secondary);
  color: var(--text-color);

  border-bottom-left-radius: 0.5rem;
  transition: opacity 150ms;
  padding: 0.3rem 1rem;
  opacity: 1;

  &:focus-visible {
    opacity: 1;
  }

  @media (hover: hover) {
    opacity: 0;
  }
}

.blogItems {
  display: flex;
  flex-direction: column;

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: auto;
  }
}

.blogItem {
  padding: 0.8rem 0;
  margin: 0.2rem 0;
  border-radius: 0.3rem;

  transition: background 200ms, transform 150ms;

  h2 {
    font-size: 1.3rem;
    margin: 0;
  }

  p {
    font-size: 1.05rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
  }

  @media (hover: hover) {
    &:hover {
      transform: translate(1.5px, -1.5px);
    }
  }
}

@media (hover: hover) {
  .rightContainer a:hover {
    background: var(--dark);
  }
}

.alert {
  display: flex;
  align-items: center;

  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 1rem;

  p,
  span {
    margin: 0;
    margin-left: 0.5rem;
  }

  &.info {
    background: var(--secondary);
  }

  &.error {
    background: rgb(145, 6, 6);
  }

  &.warn {
    background: #42381f;
  }
}
