.blogHeader {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--text-color);
}

.leftContainer {
  display: flex;
  align-items: center;
}

.blogTitle {
  font-size: 1.7rem;
  margin-bottom: 0;
}

.blogDate {
  font-size: 1.1rem;
  margin: 0;
  font-weight: normal;
  opacity: 0.9;
}

.rightContainer a {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: transparent;
  transition: background 200ms;
}
