@import './partials/mixins';

code[class*='language-'],
pre[class*='language-'] {
  color: #abb2bf;
  direction: ltr;
  font-family: 'Fira Code', 'Fira Mono', Menlo, Consolas, 'DejaVu Sans Mono',
    monospace;
  hyphens: none;
  hyphens: none;
  hyphens: none;
  hyphens: none;
  line-height: 1.5;
  tab-size: 2;
  tab-size: 2;
  tab-size: 2;
  text-align: left;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

/* Selection */
code[class*='language-']::selection,
code[class*='language-'] *::selection,
pre[class*='language-'] *::-moz-selection {
  background: #3e4451;
  color: inherit;
  text-shadow: none;
}

code[class*='language-']::selection,
code[class*='language-'] *::selection,
pre[class*='language-'] *::selection {
  background: #3e4451;
  color: inherit;
  text-shadow: none;
}

/* Code blocks */
pre[class*='language-'] {
  border-radius: 0.3em;
  margin: 0.5em 0;
  overflow: auto;
  padding: 1em;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  padding: 0.2em 0.3em;
  white-space: normal;
}

/* Print */
@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #5c6370;
}

.token.doctype,
.token.punctuation,
.token.entity {
  color: #abb2bf;
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
  color: #d19a66;
}

.token.keyword {
  color: #c678dd;
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
  color: #e06c75;
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value,
.token.attr-value > .token.punctuation {
  color: #98c379;
}

.token.variable,
.token.operator,
.token.function {
  color: #61afef;
}

.token.url {
  color: #56b6c2;
}

/* HTML overrides */
.token.attr-value > .token.punctuation.attr-equals,
.token.special-attr > .token.attr-value > .token.value.css {
  color: #abb2bf;
}

/* CSS overrides */
.language-css {
  color: #d19a66 !important;
}

.language-css .token.selector {
  color: #e06c75;
}

.language-css .token.property {
  color: #abb2bf;
}

.language-css .token.function,
.language-css .token.url > .token.function {
  color: #56b6c2;
}

.language-css .token.url > .token.string.url {
  color: #98c379;
}

.language-css .token.important,
.language-css .token.atrule .token.rule {
  color: #c678dd;
}

/* JS overrides */
.language-javascript .token.operator {
  color: #c678dd;
}

.language-javascript
  .token.template-string
  > .token.interpolation
  > .token.interpolation-punctuation.punctuation {
  color: #be5046;
}

/* JSON overrides */
.language-json .token.operator {
  color: #abb2bf;
}

.language-json .token.null.keyword {
  color: #d19a66;
}

/* MD overrides */
.language-markdown .token.url,
.language-markdown .token.url > .token.operator,
.language-markdown .token.url-reference.url > .token.string {
  color: #abb2bf;
}

.language-markdown .token.url > .token.content {
  color: #61afef;
}

.language-markdown .token.url > .token.url,
.language-markdown .token.url-reference.url {
  color: #56b6c2;
}

.language-markdown .token.blockquote.punctuation,
.language-markdown .token.hr.punctuation {
  color: #5c6370;
  font-style: italic;
}

.language-markdown .token.code-snippet {
  color: #98c379;
}

.language-markdown .token.bold .token.content {
  color: #d19a66;
}

.language-markdown .token.italic .token.content {
  color: #c678dd;
}

.language-markdown .token.strike .token.content,
.language-markdown .token.strike .token.punctuation,
.language-markdown .token.list.punctuation,
.language-markdown .token.title.important > .token.punctuation {
  color: #e06c75;
}

/* General */
.token.bold {
  font-weight: bold;
}

.token.comment,
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.namespace {
  opacity: 0.8;
}

/* Plugin overrides */
/* Selectors should have higher specificity than those in the plugins' default stylesheets */

/* Show Invisibles plugin overrides */
.token.token.tab:not(:empty)::before,
.token.token.cr::before,
.token.token.lf::before,
.token.token.space::before {
  color: rgba(171, 178, 191, 0.15);
  text-shadow: none;
}

/* Toolbar plugin overrides */
/* Space out all buttons and move them away from the right edge of the code block */
div.code-toolbar > .toolbar.toolbar > .toolbar-item {
  margin-right: 0.4em;
}

/* Styling the buttons */
div.code-toolbar > .toolbar.toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > span {
  background: #3a3f4b;
  border-radius: 0.3em;
  color: #828997;
  padding: 0.1em 0.4em;
}

div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > span:hover,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > span:focus {
  background: #3e4451;
  color: #abb2bf;
}

/* Line Highlight plugin overrides */
/* The highlighted line itself */
.line-highlight.line-highlight {
  background: rgba(153, 187, 255, 0.04);
}

/* Default line numbers in Line Highlight plugin */
.line-highlight.line-highlight::before,
.line-highlight.line-highlight[data-end]::after {
  background: #3a3f4b;
  border-radius: 0.3em;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2); /* same as Toolbar plugin default */
  color: #abb2bf;
  padding: 0.1em 0.6em;
}

/* Hovering over a linkable line number (in the gutter area) */
/* Requires Line Numbers plugin as well */
pre[id].linkable-line-numbers.linkable-line-numbers
  span.line-numbers-rows
  > span:hover::before {
  background-color: rgba(153, 187, 255, 0.04);
}

/* Line Numbers and Command Line plugins overrides */
/* Line separating gutter from coding area */
.line-numbers.line-numbers .line-numbers-rows,
.command-line .command-line-prompt {
  border-right-color: rgba(171, 178, 191, 0.15);
}

/* Stuff in the gutter */
.line-numbers .line-numbers-rows > span::before,
.command-line .command-line-prompt > span::before {
  color: #636d83;
}

/* Match Braces plugin overrides */
/* Note: Outline colour is inherited from the braces */
.rainbow-braces .token.token.punctuation.brace-level-1,
.rainbow-braces .token.token.punctuation.brace-level-5,
.rainbow-braces .token.token.punctuation.brace-level-9 {
  color: #e06c75;
}

.rainbow-braces .token.token.punctuation.brace-level-2,
.rainbow-braces .token.token.punctuation.brace-level-6,
.rainbow-braces .token.token.punctuation.brace-level-10 {
  color: #98c379;
}

.rainbow-braces .token.token.punctuation.brace-level-3,
.rainbow-braces .token.token.punctuation.brace-level-7,
.rainbow-braces .token.token.punctuation.brace-level-11 {
  color: #61afef;
}

.rainbow-braces .token.token.punctuation.brace-level-4,
.rainbow-braces .token.token.punctuation.brace-level-8,
.rainbow-braces .token.token.punctuation.brace-level-12 {
  color: #c678dd;
}

/* Diff Highlight plugin overrides */
/* Taken from https://github.com/atom/github/blob/master/styles/variables.less */
pre.diff-highlight > code .token.token.deleted:not(.prefix),
pre > code.diff-highlight .token.token.deleted:not(.prefix) {
  background-color: rgba(255, 82, 102, 0.15);
}

pre.diff-highlight > code .token.token.deleted:not(.prefix)::selection,
pre.diff-highlight > code .token.token.deleted:not(.prefix) *::selection,
pre > code.diff-highlight .token.token.deleted:not(.prefix)::-moz-selection,
pre > code.diff-highlight .token.token.deleted:not(.prefix) *::-moz-selection {
  background-color: rgba(251, 86, 105, 0.25);
}

pre.diff-highlight > code .token.token.deleted:not(.prefix)::selection,
pre.diff-highlight > code .token.token.deleted:not(.prefix) *::selection,
pre > code.diff-highlight .token.token.deleted:not(.prefix)::selection,
pre > code.diff-highlight .token.token.deleted:not(.prefix) *::selection {
  background-color: rgba(251, 86, 105, 0.25);
}

pre.diff-highlight > code .token.token.inserted:not(.prefix),
pre > code.diff-highlight .token.token.inserted:not(.prefix) {
  background-color: rgba(26, 255, 91, 0.15);
}

pre.diff-highlight > code .token.token.inserted:not(.prefix)::selection,
pre.diff-highlight > code .token.token.inserted:not(.prefix) *::selection,
pre > code.diff-highlight .token.token.inserted:not(.prefix)::-moz-selection,
pre > code.diff-highlight .token.token.inserted:not(.prefix) *::-moz-selection {
  background-color: rgba(56, 224, 98, 0.25);
}

pre.diff-highlight > code .token.token.inserted:not(.prefix)::selection,
pre.diff-highlight > code .token.token.inserted:not(.prefix) *::selection,
pre > code.diff-highlight .token.token.inserted:not(.prefix)::selection,
pre > code.diff-highlight .token.token.inserted:not(.prefix) *::selection {
  background-color: rgba(56, 224, 98, 0.25);
}

/* Previewers plugin overrides */
/* Based on https://github.com/atom-community/atom-ide-datatip/blob/master/styles/atom-ide-datatips.less and https://github.com/atom/atom/blob/master/packages/one-dark-ui */
/* Border around popup */
.prism-previewer.prism-previewer::before,
.prism-previewer-gradient.prism-previewer-gradient div {
  border-color: #262931;
}

/* Angle and time should remain as circles and are hence not included */
.prism-previewer-color.prism-previewer-color::before,
.prism-previewer-gradient.prism-previewer-gradient div,
.prism-previewer-easing.prism-previewer-easing::before {
  border-radius: 0.3em;
}

/* Triangles pointing to the code */
.prism-previewer.prism-previewer::after {
  border-top-color: #262931;
}

.prism-previewer-flipped.prism-previewer-flipped.after {
  border-bottom-color: #262931;
}

/* Background colour within the popup */
.prism-previewer-angle.prism-previewer-angle::before,
.prism-previewer-time.prism-previewer-time::before,
.prism-previewer-easing.prism-previewer-easing {
  background: #31363f;
}

/* For angle, this is the positive area (eg. 90deg will display one quadrant in this colour) */
/* For time, this is the alternate colour */
.prism-previewer-angle.prism-previewer-angle circle,
.prism-previewer-time.prism-previewer-time circle {
  stroke: #abb2bf;
  stroke-opacity: 1;
}

/* Stroke colours of the handle, direction point, and vector itself */
.prism-previewer-easing.prism-previewer-easing circle,
.prism-previewer-easing.prism-previewer-easing path,
.prism-previewer-easing.prism-previewer-easing line {
  stroke: #abb2bf;
}

/* Fill colour of the handle */
.prism-previewer-easing.prism-previewer-easing circle {
  fill: transparent;
}
