:root {
  --bg: #000;
  --text-color: #fff;
  --content-width: 90%;
  --secondary: #191d1b;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  background: var(--bg);
  overflow-x: hidden;
}
#__next {
  width: 100%;
  overflow: hidden;
}

.disable-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  min-height: calc(100vh - 21rem);
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.content {
  width: var(--content-width);
}

.section__title {
  padding-top: 5rem;
  font-size: clamp(2rem, 7vw, 3rem);
  margin-bottom: 1rem;
}

.btn {
  padding: 0.3rem 1.5rem;
  border-radius: 0.2rem;
  color: var(--text-color);
  transition: 300ms filter;
  border: none;
  font-size: 1rem;
  cursor: pointer;

  &:hover:enabled {
    filter: brightness(150%);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
  &__light {
    background: var(--secondary);
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: 10px;
      width: 1.2rem;
      fill: var(--secondary);
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (min-width: 768px) {
  :root {
    --content-width: 70%;
  }
}

@media (min-width: 1200px) {
  :root {
    --content-width: 70%;
  }
}

@media (min-width: 1800px) {
  :root {
    --content-width: 1400px;
  }
}
.rehype-code-title {
  background: var(--secondary);
  border-bottom: 1.5px solid #2e3746;
  padding: 0.2rem 0.8rem;
  padding-top: 0.5rem;

  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;

  + pre {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}
