@font-face {
  font-weight: 400;
  font-family: 'GT Walsheim Pro';
  font-style: normal;
  src: url('/fonts/GTWalsheimPro-Regular.woff2') format('woff2');
  font-display: optional;
}

@font-face {
  font-weight: 500;
  font-family: 'GT Walsheim Pro';
  font-style: normal;
  src: url('/fonts/GTWalsheimPro-Medium.woff2') format('woff2');
  font-display: optional;
}

@font-face {
  font-weight: 700;
  font-family: 'GT Walsheim Pro';
  font-style: normal;
  src: url('/fonts/GTWalsheimPro-Bold.woff2') format('woff2');
  font-display: optional;
}

:root {
  --bg: #fff;
  --text: #000;
  --textTinted: rgba(0, 0, 0, 0.5);
  --brand: #ff8c42;
  --brandActive: #e66300;
  --brandTinted: rgba(255, 140, 66, 0.2);
  --brandTintedActive: rgba(255, 140, 66, 0.33);
  --headerBg: rgba(255, 255, 255, 0.6);
  --border: rgba(0, 0, 0, 0.08);
  --borderActive: rgba(0, 0, 0, 0.25);
  --star: #fece02;
  --fontFamily: 'GT Walsheim Pro', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --boxBg: #f3f3f3;
  --siteWidth: 83ch;
  --inputBg: #fff;
  --likeButton: rgba(0, 0, 0, 0.05);
  --likeButtonHover: rgba(0, 0, 0, 0.1);
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --secondary: #caca28;
  --transparent: rgba(255, 255, 255, 0);
}

[data-theme='dark'] {
  --bg: #131314;
  --text: #fff;
  --textTinted: rgba(255, 255, 255, 0.5);
  --headerBg: lighten(var(--bg), 10%);
  --border: rgba(255, 255, 255, 0.08);
  --borderActive: rgba(255, 255, 255, 0.25);
  --boxBg: #1f1e1d;
  --star: #fef102;
  --inputBg: #292929;
  --likeButton: rgba(255, 255, 255, 0.2);
  --likeButtonHover: rgba(255, 255, 255, 0.3);
  --secondary: #ffff00;
  --transparent: rgba(0, 0, 0, 0);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--fontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 28px;
  letter-spacing: -0.3px;

  @media (min-width: 480px) {
    margin-bottom: 55px;
  }
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3);
  }

  30% {
    transform: scaleY(1);
  }

  60% {
    transform: scaleY(0.5);
  }

  80% {
    transform: scaleY(0.75);
  }

  100% {
    transform: scaleY(0.6);
  }
}

.sr-only {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
