.menuBg {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 200;
  display: none;

  &.menuBgActive {
    display: flex;
  }
}

.menuNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background: var(--bg);
  transition: transform 100ms ease-out;
  z-index: 250;
  transform: translateX(100%);
  transform-origin: right;

  &.menuNavActive {
    transform: translateX(0);
  }
}

.closeMenu {
  font-size: 3rem;
  background: none;
  border: none;
  position: absolute;
  left: 15px;
  top: 15px;
  cursor: pointer;
  padding: 10px;

  svg path {
    fill: var(--text-color);
  }
}

.menuContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.menuLinks {
  display: flex;
  flex-direction: column;
}

.menuLink {
  text-align: center;
  margin: 0.2rem 0;
  font-size: clamp(1.2rem, 7vw, 2rem);
  color: var(--text-color);
}

@media (max-width: 320px) {
  .menuLink {
    margin-bottom: 0rem;
  }
}

@media (min-width: 1500px) {
  .menuNav {
    display: none;
  }

  .menuBgActive {
    display: none !important;
  }
}
