pre {
  page-break-inside: avoid;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  border-radius: 10px;
  white-space: pre;
  overflow-x: auto;
  counter-reset: line;
}
