pre {
  padding: 1rem 0;
  overflow-x: auto; /* Ensure horizontal scrolling */
  white-space: pre-wrap; /* Ensure code wraps correctly */
  word-wrap: break-word; /* Ensure long words break correctly */
}

pre [data-line] {
  padding: 0 1rem;
}

code {
  overflow-x: auto; /* Ensure horizontal scrolling */
  white-space: pre-wrap; /* Ensure code wraps correctly */
  word-wrap: break-word; /* Ensure long words break correctly */
}

@media (max-width: 768px) {
  pre {
    padding: 0.5rem 0; /* Adjust padding for smaller screens */
  }

  pre [data-line] {
    padding: 0 0.5rem; /* Adjust padding for smaller screens */
  }
}
