$black: #0c0c0c;
$dark: #292929;
$light-dark: #333333;

$light: #fafafa;

$primary: #f7f7f7;
$secondary: #767676;
$opacity: #bdbdbd;

$pink: #ff6ad0;

$blue: #00a0e1;
$green: #00b849;

// gradients
$gradient-black: linear-gradient(
  180deg,
  rgba(0, 0, 0, 1) 0%,
  rgba(94, 99, 182, 0.5) 100%
);
$gradient-white: linear-gradient(
  180deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(245, 199, 247, 0.5) 100%
);
