/* skills Section */
.showcase-skills {
  border-radius: 0px;
  margin: 0;
  padding: 0;
  border: 0;
  background: #2A2D34;
  color: #fff;
  min-width: 100vw;
  min-height: 55vh;
  max-width: 100vw;
  max-height: 55vh;
}
.skills-title {
  color: #fff;
  text-align: center;
  width: 10%;
  margin: 0 auto;
  font-family: 'Permanent Marker', sans-serif;
  // -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 35px;
  letter-spacing: 5px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.8px;
  line-height: 1.6;
  text-transform: uppercase;
  font-family: 'Permanent Marker', sans-serif;
  :after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    transition: width 0.8s ease, background-color 0.5s ease;
  }
}

.skills-header {
  text-align: center;
  h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
  }
}

.skills-body {
  width: 100%;
  display: flex;
  flex-flow: row-reverse wrap;
  padding: 1rem;
  justify-content: space-evenly;
}

.skill-icon {
  color: #5fd5f7;
  margin-left: 5px;
  font-size: 30px;
  cursor: pointer;
  &:hover {
    color: #2ab7ca;
    cursor: pointer;
  }
}

.skill {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  flex-wrap: wrap;
  text-align: center;
  p {
    padding: 1rem 1rem;
    font-family: inherit;
    background-color: #60dafb;
    filter: brightness(0.9);
    color: white;
    margin: 0.5rem;
    // border-radius: 5px;
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 0.5;
  }
}

.skill-2 {
  margin-top: 1rem;
}
