@import '../../global';
.fourOhFour-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--backgroundColor);
  color: var(--lightTextColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fourOhFour__container {
  z-index: 1;
  background-color: var(--backgroundColor);
  color: var(--lightTextColor);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fourOhFour__intro {
  margin-bottom: 2em;
  font-family: var(--mainFont);
  font-size: 30px;
}

.fourOhFour__links {
  display: block;
  font-size: 25px;
  color: var(--lightTextColor);
  text-decoration: none;
  margin: 2em 0 2em 0;
  font-weight: 700;
  &:hover {
    color: var(--borderBottomColorRed);
    transform: scale(1.2);
    transition: all 1s ease;
  }
}

.fourOhFour-link__icon {
  fill: var(--backgroundColor);
  margin-left: 20px;
  &:hover {
    fill: var(--iconHoverColor);
  }
}

.instructions {
  width: 50%;
  text-align: center;
}

@media (max-width: 768px) {
  .instructions {
    font-size: 16px;
  }
  .fourOhFour__intro {
    font-size: 25px;
  }
}

@media (max-width: 640px) {
  .instructions {
    font-size: 16px;
  }
  .fourOhFour__intro {
    font-size: 20px;
  }
}
