.cards {
  padding: 2rem;
  background: #1a181b;
  max-width: 100vw;
  min-height: 85vh;
  
}

h1 {
  text-align: center;
}

.cards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  max-height: 1000px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}

.cards__wrapper {

  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // position: relative;
  margin: 20px 0 25px;
  max-width: 100%;
}

.card__items {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card__title {
  color: #fff;
  font-family: 'Permanent Marker', sans-serif;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 35px;
  letter-spacing: 5px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.8px;
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 16px;
  filter: brightness(1.5);
  filter: contrast(300);
  font-family: 'Permanent Marker', sans-serif;
  :after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 0.8s ease, background-color 0.5s ease;
  }
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}
