.cards { 
  padding: 4rem;
  background: #fff;
}

h1 { 
  text-align: center;
}

.cards__container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

