@use '@src/styles/_mixins';

.text {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-top: 30px;
  h1 {
    margin-bottom: 2rem;
  }

  p {
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
  }

  a {
    color: var(--brand);
    transition: color 200ms ease-out;

    &:hover,
    &:focus {
      color: var(--brandActive);
    }
  }
}

.photoContainer {
  height: 280px;
  width: 100%;
}
@media (min-width: 632px) {
  .photoStackContainer {
    width: auto;
  }
}

.skills {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;

  p {
    font-size: 20px;
    font-weight: bold;
  }
}
