.list {
  li {
    margin-bottom: 15px;

    a {
      font-weight: 500;

      &:hover {
        color: var(--brand);
        text-decoration: underline;
      }
    }
  }
}

.contact {
  margin-bottom: 2rem;
}
