@use '@src/styles/_mixins';

.wrapper {
  @include mixins.flex;
  aspect-ratio: 5 /4; // experimental css property
  margin: 3.5rem -3rem;

  @include mixins.mediaquery('sm') {
    margin: 4rem -4rem;
  }

  @include mixins.mediaquery('md') {
    margin: 4rem -2rem;
  }

  .sandobx {
    border: 0 none;
    height: 100%;
    width: 100%;

    @include mixins.mediaquery('md') {
      border-radius: 1.2rem;
    }
  }
}
