.contact-wrapper {
  min-height: 100vh;
  min-width: 100vw;
  // background-color: #202c39;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__title {
  border-bottom: 2px solid #f00946;
}

.email {
  margin-bottom: 5px;
}

.alternatives {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    word-wrap: wrap;
  }
  a {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.icon-social {
  margin: 10px;
  fill: #000;
  width: 30px;
  height: 30px;
  &:hover {
    fill: #2ab7ca;
  }
}

.icon-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.icon-contact {
  font-size: 20px;
  fill: #fff;
  margin: 0 1em 0 1em;
  &:hover {
    fill: #2ab7ca;
  }
}

.main-title {
  border-bottom: 2px solid #f00946;
  font-size: 35px;
  font-family: 'Permanent Marker', sans-serif;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  -webkit-background-clip: text;
  margin-bottom: 2em;
  line-height: 2;
  letter-spacing: 5px;
  filter: brightness(1.5);
  filter: contrast(300);
}

@media (max-width: 1024px) {
  .icon-contact {
    width: 45px;
  }
}
