.contact-wrapper {
  min-height: 55vh;
  min-width: 100vw;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.alternatives {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    word-wrap: wrap;
  }
  a {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.icon-social {
  margin: 10px;
  fill: #000;
  width: 35px;
  height: 35px;
  &:hover {
    fill: #2ab7ca;
  }
}

.icon-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.icon-contact {
  font-size: 20px;
  fill: #000;
  margin: 0 1em 0 1em;
  &:hover {
    fill: #2ab7ca;
  }
}

.main-title {
  font-size: 35px;
  font-family: 'Permanent Marker', sans-serif;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  -webkit-background-clip: text;
  margin-bottom: 2em;
  line-height: 2;
  letter-spacing: 5px;
  filter: brightness(1.5);
  filter: contrast(300);
}

@media (max-width: 1024px) {
  .icon-contact {
    width: 45px;
  }
}
