@import '../../global';
.contact-wrapper {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--backgroundColor);
  color: var(--lightTextColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__title {
  border-bottom: 2px solid var(--borderBottomColorRed);
}

.email {
  margin-bottom: 5px;
}

.alternatives {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    word-wrap: wrap;
  }
  a {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.icon-social {
  margin: 10px;
  fill: #000;
  width: 30px;
  height: 30px;
  &:hover {
    fill: var(--iconHoverColor);
  }
}

.icon-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.icon-contact {
  font-size: 20px;
  fill: var(--lightBackgroundColor);
  margin: 0 1em 0 1em;
  &:hover {
    fill: var(--iconHoverColor);
  }
}

.wave {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    width: 50%;
    text-align: center;
    line-height: 1.2;
  }
}

.wave-btn {
  margin-top: 1rem;
}

.wave-joke {
  margin-top: 1.5rem;
}

.main-title {
  border-bottom: 2px solid var(--borderBottomColorRed);
  font-size: 35px;
  font-family: var(--permanentMarker);
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  -webkit-background-clip: text;
  margin-bottom: 2em;
  line-height: 2;
  letter-spacing: 5px;
  filter: brightness(1.5);
  filter: contrast(300);
}

@media (max-width: 1024px) {
  .icon-contact {
    width: 45px;
  }
}