.group {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 30px;

  > button,
  > a {
    margin-bottom: 20px;
    margin-right: 0;
  }

  > :last-child {
    margin-right: 0;
  }

  @media (min-width: 300px) {
    flex-direction: row;

    button,
    a {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
}
