@import '../styles/partials/mixins.scss';
@import '../styles/partials/utils.scss';
@import '../styles/variables.scss';

.header {
  height: auto;
  width: 100%;
}

.titlePage {
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 24px;
  margin-top: 24px;

  @include media(sm) {
    margin-bottom: 32px;
  }

  @include media(md) {
    margin-bottom: 48px;
  }
}

.presentation {
  align-items: left;
  -webkit-box-align: left;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
  padding: 40px 24px 80px;
  text-align: left;
  width: 1000px;

  @include media(sm) {
    display: flex;
    padding: 40px 40px 80px;
  }

  @include media(md) {
    flex-direction: row;
    padding: 70px 60px 80px;
    text-align: left;
  }

  @include media(lg) {
    padding: 50px 10px;
  }
}

.sidePresentation {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
