.bigTitle {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
}

.description {
  font-size: 18px;
  line-height: 2;
  margin-top: 5px;
  max-width: 688px;
}

.text {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 50px;
}
