.heroContainer {
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  height: 300px;
  padding: 25px 0;
  width: 100%;
}

.name {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.description {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 1.5;
  margin-top: 10px;
  word-break: keep-all;
}

.learnMore {
  margin-top: 20px;

  a {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
  }
}
