.home__hero-section {
  color: #fff;
  padding: 150px 0;
}

.home__hero-row {
  align-items: center;
}

.row {
  display: flex;
  margin: 0 -15px -15px -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  padding: 0 15px 15px 15px;
  margin-bottom: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.home__hero-text-wrapper {
  max-width: 570px;
  padding-top: 0;
  padding-bottom: 60px;
}

.top-line {
  color: #f00946;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.dark {
  color: #1c2237;
}

.darkBg {
  background-color: #1c2237;
}

.home__hero-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.home__hero-img-wrapper {
  max-width: 650px;
}

.home__hero-img {
  margin: 0 0 0 150px;
  padding-right: 0;
  max-width: 45%;
  border-radius: 15px;
  filter: grayscale(100%) brightness(80%);
}

.home__hero-img:hover {
  filter: grayscale(0%) brightness(95%);
  transition: 1.3s;
  cursor: pointer;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  animation: fadeIn ease-in 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.light {
  color: #fff;
  width: 15%;
  border-bottom: 2px solid #f00946;
  margin-bottom: 10px;
}

.skills-container {
  text-align: center;
  background-color: #1c2237;
  border: 1px solid #fff;
  color: #fff;
  width: 350px;
  border-radius: 20px;
}

.lead {
  font-weight: 700;
  width: 50%;
  margin: 0 auto;
  border-bottom: 2px solid #f00946;
  margin-bottom: 10px;
}

.list {
  list-style-type: none;
  font-size: 18px;
}

.paragraph {
  font-size: 25px;
}


/* Social Icons */
.social-icon-link {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.social-icon-link:hover {
  color: #2ab7ca;
  cursor: pointer;
}

.social-icon-link a:hover {
  color: #2ab7ca;
  cursor: pointer;
}

.skills-container p {
  padding: 1rem 1rem;
  background-color: rgb(25, 10, 239);
  color: white;
  margin: 1rem;
  border-radius: 5px;
  text-align: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  line-height: 0.5;
  font-family: inherit;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
    padding-bottom: 65px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
  .home__hero-img {
    margin-left: 8em;
    padding-right: 0;
    max-width: 40%;
  }

  .skills-container {
    margin-top: 3em;
    margin-left: 2em;
  }
  .skills-container p {
    padding: 1.2rem 1.2rem;
    background-color: rgb(25, 10, 239);
    color: white;
    margin: 1rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    word-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1;
    font-family: inherit;
  }
}

@media (max-width: 640px) {
  .skills-container {
    text-align: center;
    background-color: #1c2237;
    border: 1px solid #fff;
    color: #fff;
    width: 250px;
    border-radius: 20px;
  }
  .home__hero-img {
    margin-left: 3.5em;
    padding-right: 0;
    max-width: 45%;
  }
}
