@media (min-width: 632px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
}

.nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  > * {
    color: var(--white);
  }
}

.nav li {
  display: flex;
  color: var(--white);
  transition: transform 0.2s;
  &:hover {
    transform: translate(0, -2px);
    a {
      color: var(--primaryColor);
    }
  }
}

.nav li a,
.siteLogo {
  color: var(--white);
  padding: 0 8px;
  text-decoration: none;
  font-size: 13px;
}

.siteLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  cursor: pointer;
  span {
    white-space: nowrap;
  }
  &:hover > div {
    transform: rotate(5deg) scale(1.2);
  }
  > div {
    height: 32px;
    transition: rotate 0.2s, transform 0.2s;
  }
  > * {
    margin-right: 12px;
  }
}

@media (min-width: 632px) {
  .siteLogo {
    justify-content: left;
    margin-top: 0;
  }
}
