@import '../styles/partials/mixins.scss';
@import '../styles/partials/utils.scss';
@import '../styles/variables.scss';

.nav {
  backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba($black, 0.5);
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 999;
}

.logo {
  cursor: pointer;

  &:hover {
    color: $pink;
  }
}

.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: space-between;

  @include media(md) {
    height: 80px;
  }

  @include media(lg) {
    height: 96px;
  }

  a {
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
  }
}

.navbarLinks {
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;

  li {
    height: auto;

    a {
      font-size: 18px;
      line-height: 24px;
      opacity: 1;
      padding: 4px 6px;

      &:hover {
        opacity: 0.64;
      }
    }

    & + li {
      margin-left: 4px;
    }
  }
}
