@use '@src/styles/_mixins.scss';

.nav {
  background-color: var(--gray-100);
  border-radius: 2rem;
  padding: 0.4rem 0.55rem;

  .list {
    @include mixins.flex;
    gap: 0.8rem;
    list-style: none;
    margin: 0;
    padding: 0;

    @include mixins.mediaquery('lg') {
      gap: 2rem;
    }

    .link {
      @include mixins.flex;
      border-radius: 16px;
      color: var(--black-100);
      font-size: 1.4rem;
      font-weight: 700;
      padding: 0.45rem 1.5rem;
      position: relative;

      .label {
        z-index: 1;
      }

      .active {
        background-color: var(--white-100);
        border-radius: 16px;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
      }
    }
  }
}
