@import '../styles/variables.scss';

.wrapper {
  text-align: center;
}

.widget {
  align-items: center;
  background-color: #1f1e1d;
  border-radius: 30px;
  display: inline-flex;
  font-size: 12px;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 7px 14px;
  transition: transform 300ms ease-out;

  &:hover,
  &:focus {
    transform: translateY(-2px);

    span {
      opacity: 0;
    }

    .cover {
      opacity: 1;
    }
  }
}

.widgetHidden {
  @extend .widget;
  // opacity: 0;
  color: #fff;
}

.icon {
  display: inline-flex;
  height: 13px;
  justify-content: space-between;
  margin-right: 8px;
  position: relative;
  width: 13px;

  & > span {
    animation: bounce 2.2s ease infinite alternate;
    background-color: $green;
    border-radius: 3px;
    content: '';
    height: 100%;
    transform-origin: bottom;
    transition: opacity 0.3s ease-out;
    width: 3px;

    &:nth-of-type(2) {
      animation-delay: -2.2s;
    }

    &:nth-of-type(3) {
      animation-delay: -3.7s;
    }
  }
}

.cover {
  border-radius: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s ease-out;
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3);
  }

  30% {
    transform: scaleY(1);
  }

  60% {
    transform: scaleY(0.5);
  }

  80% {
    transform: scaleY(0.75);
  }

  100% {
    transform: scaleY(0.6);
  }
}
