@import '../../styles/partials/mixins';
@import '../../styles/partials/utils';
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 900px;
  height: 100%;
  @extend .container;

  &.center {
    height: -webkit-fill-available;
    min-height: -webkit-fill-available;
    justify-content: center;
    padding-top: unset;
    padding-bottom: unset;
  }
}
