@import '../styles/partials/mixins.scss';
@import '../styles/partials/utils.scss';
@import '../styles/variables.scss';

.main {
  @extend .container;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: relative;
  width: 100%;

  &.center {
    height: fill-available;
    justify-content: center;
    min-height: fill-available;
    padding-bottom: unset;
    padding-top: unset;
  }
}
