.project-wrapper {
  min-height: 55vh;
  min-width: 75vw;
  background-color: #1c2237;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.project-container {
  margin-top: 2em;
  padding: 1em 1em 0 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}

.project-card {
  margin-bottom: 1em;
  margin-top: 1em;
  width: 350px;
  height: 550px;
  background-color: #fefffe;
  border-radius: 10px;
  border: 1px solid #000;
  color: #000;
  padding-bottom: 15px;
}

.project-card:nth-child(2) {
  height: 550px;
}

.project-card:hover {
  transform: scale(1.06);
  transition: all 0.6s ease-out;
  cursor: pointer;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-description {
  text-align: center;
  margin-top: 1.2em;
  font-size: 17px;
  word-wrap: wrap;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__title {
  border-bottom: 2px solid #f00946;
  font-size: 35px;
}

.project__card-title {
  margin: 0 auto;
  text-align: center;
}

.icon-social {
  margin: 10px;
  fill: #000;
  width: 35px;
  height: 35px;
}

.icon-social:hover {
  fill: #2ab7ca;
}

@media (max-width: 1124px) {
  .project-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-card {
    margin-bottom: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 550px;
    height: 550px;
    background-color: #fefffe;
    border-radius: 10px;
    border: 1px solid #000;
    color: #000;
  }

  .img-container img {
    width: 85%;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 991px) {
  .project-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-card {
    margin-bottom: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 550px;
    height: 550px;
    background-color: #fefffe;
    border-radius: 10px;
    border: 1px solid #000;
    color: #000;
  }
  .img-container img {
    width: 85%;
    height: 100%;
    object-fit: contain;
  }

  .project-description {
    text-align: center;
    margin-top: 2em;
    font-size: 15px;
    word-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .project-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-card {
    margin-bottom: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 550px;
    height: 550px;
    background-color: #fefffe;
    border-radius: 10px;
    border: 1px solid #000;
    color: #000;
  }
  .img-container img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    border-radius: 20px;
  }

  .project-description {
    text-align: center;
    margin-top: 2em;
    font-size: 16px;
    word-wrap: wrap;
  }
}

@media (max-width: 640px) {
  .project-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-card {
    margin-bottom: 1em;
    margin-right: 1em;
    margin-top: 1em;
    width: 350px;
    height: 450px;
    background-color: #fefffe;
    border-radius: 10px;
    border: 1px solid #000;
    color: #000;
  }
}
