@import '../styles/variables.scss';
@import '../styles/partials/mixins.scss';

.socialShareButtons {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 32px;

  @include media(md) {
    flex-direction: column;
    justify-content: center;

    button {
      height: 32px;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      width: 32px;

      & + button {
        margin-left: 0;
        margin-top: 12px;
      }
    }
  }

  button {
    height: 40px;
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
    opacity: 1;
    width: 40px;

    & + button {
      margin-left: 16px;
      margin-top: 0;
    }

    svg {
      circle {
        fill: $primary;
      }

      path {
        fill: $black;
      }
    }

    &:hover {
      opacity: 0.72;
    }
  }
}
