.skillGrid {
  --tw-gradient-from: #18181b;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(24, 24, 27, 0));
  --tw-gradient-to: #000;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-space-y-reverse: 0;
  border: 0 solid;
  border-color: rgba(228, 228, 231, var(--tw-border-opacity));
  box-sizing: border-box;
  color: var(--text);
  display: grid;
  font-size: 0.9rem;
  font-weight: 400;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  list-style: none;
  margin: 0;
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  margin-bottom: 4rem;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  padding: 0;
  text-size-adjust: 100%;

  li {
    --tw-space-y-reverse: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x))
      translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
    --tw-border-opacity: 1;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    border: 0 solid;
    border-color: rgba(228, 228, 231, var(--tw-border-opacity));
    box-sizing: border-box;
    color: var(--text);
    display: flex;
    font-family: inherit;
    font-size: 0.9rem;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    tab-size: 4;
    text-size-adjust: 100%;
  }
}

@media (max-width: 740px) {
  .skillGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    // margin-bottom: 60px;
  }
}
