.skillIcon {
  margin-right: 1rem;
  color: #fff;
}

.skillText {
  font-size: 13px;
  align-items: left;
  text-align: left;
}

.bg {
  padding: 5px;
  > svg {
    width: 100%;
    height: 100%;
    fill: var(--text) !important;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
