.skillIcon {
  color: #fff;
  margin-right: 1rem;
}

.skillText {
  align-items: left;
  font-size: 13px;
  text-align: left;
}

.bg {
  padding: 5px;

  > svg {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.flex {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
