@import '../styles/partials/mixins.scss';
@import '../styles/variables.scss';

.socialMedia {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 20px;
  padding: 0;

  @include media(md) {
    align-items: flex-start;
    justify-content: left;
  }

  a {
    display: block;
    height: 22px;
    line-height: 22px;
  }

  li {
    position: relative;

    & + li {
      margin-left: 20px;
    }

    &:hover {
      .socialName {
        bottom: calc(100% + 5px);
        opacity: 1;
        position: absolute;
        visibility: visible;
      }
    }
  }

  img {
    height: 22px;
    max-width: 22px;
    padding: 0.2em;
  }

  .socialName {
    background-color: $black;
    border-radius: 3px;
    bottom: 90%;
    box-shadow: rgba(255, 255, 255, 0.01) 0 4px 15px;
    color: $light;
    font-size: 13px;
    left: 50%;
    opacity: 0;
    padding: 0.4rem 0.8rem;
    pointer-events: none;
    position: absolute;
    transform: translate3d(-50%, 0, 0);
    transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    visibility: hidden;
    white-space: nowrap;
    z-index: 999;

    &::after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $black;
      bottom: -6px;
      content: '';
      height: 0;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 0;
    }
  }
}
