@import '../styles/variables.scss';
@import '../styles/partials/mixins.scss';
@import '../styles/partials/utils.scss';

.tags {
  align-items: center;
  -webkit-box-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;

  @include media(md) {
    margin-bottom: 0;
  }

  p {
    color: $pink;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 10px;
    margin-right: 30px;
  }
}
