.title {
  margin-bottom: 0px;
  color: var(--white);
  &:hover {
    color: var(--primaryColor);
  }
}

.links {
  display: flex;
  color: var(--white);
  > * {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.socialLinks {
  > * {
    color: #fff;
    &:hover {
      color: var(--primaryColor);
    }
  }
}
