@import '../../styles/partials/mixins';

.contentFooter {
  display: flex;
  flex-direction: column;
  padding: 12px;

  @include mediaquery('sm') {
    flex-direction: row;
  }
}

.presentation {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  margin-left: 10px;

  h3 {
    text-align: center;
    font-size: 26px;
    line-height: 2;
    margin-bottom: 8px;
  }

  @include mediaquery('sm') {
    flex-direction: column;
    width: 40%;

    h3 {
      text-align: left;
    }

    ul {
      justify-content: flex-start;
    }
  }

  @include mediaquery('md') {
    width: 50%;
  }
}

.menuFooter {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  font-size: 16px;
  ul {
    margin-top: 32px;
    list-style-type: none;
    flex: 1;
    li {
      display: inline-flex;
      justify-content: center;
      flex-direction: row;
      margin-top: 16px;
      flex-wrap: wrap;
      width: 50%;

      a {
        color: #ccc;
        opacity: 0.72;

        &:hover {
          color: var(--pink);
          opacity: 1;
        }
      }
    }
  }

  @include mediaquery('sm') {
    flex-direction: column;
    width: 60%;

    ul {
      margin-top: 0;

      li {
        justify-content: flex-start;
      }
    }
  }

  @include mediaquery('md') {
    width: 50%;
  }
}

.aboutFooter {
  text-align: center;
  position: relative;
  color: #ccc;
  font-size: 15px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(var(--dark), 0.4);
  padding-top: 32px;
  margin-top: 32px;
}
