/* Global Colors */

// Background color (Light blue)
$backgroundColor: #183d5d;

$lightBackgroundColor: #fff;

// border bottom color (red)
$borderBottomColor: #f00946;

// hover color
$fillColor: #2ab7ca;

$permanentMarkerFont: 'Permanent Marker', sans-serif;

$labelColor: #1f98f4;

$lightTextColor: #fff;
