// Global Fonts
$mainFont: 'PT Sans', sans-serif;
$titleFont: 'Permanent Marker', sans-serif;

// Global colors
$backgroundColor: #393D3F;
$lightBackgroundColor: #fff;
$borderBottom: #f00946;
$iconHover: #2ab7ca;
$labelColor: #1f98f4;
$lightTextColor: #fff;
$darkTextColor: #000;
