// Normal Styles
:root {
  /* Global Colors */
  --backgroundColor: #000;
  --lightBackgroundColor: #fff;
  --borderBottomColorRed: #f00946;
  --iconHoverColor: #2ab7ca;
  --labelColor: #1f98f4;
  --lightTextColor: #fff;
  --darkTextColor: #000;
  /* Global Fonts */
  --ptSans: 'PT Sans', sans-serif;
  --permanentMarker: 'Permanent Marker', sans-serif;
}

// dark mode style
[data-theme='dark'] {
  --backgroundColor: #000;
  --lightBackgroundColor: #fff;
  --borderBottomColorRed: #f00946;
  --iconHoverColor: #2ab7ca;
  --labelColor: #1f98f4;
  --lightTextColor: #fff;
  --darkTextColor: #000;
  --iconColor: #fff;
}

// light mode style
[data-theme='light'] {
  --backgroundColor: #454955;
  --lightBackgroundColor: #fff;
  --borderBottomColorRed: #f00946;
  --iconHoverColor: #2ab7ca;
  --labelColor: #1f98f4;
  --lightTextColor: #fff;
  --darkTextColor: #000;
  --iconColor: #fff;
}
