@import "utilities";

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
  align-items: center;
  justify-content: center;
  transform: background 0.3s linear;
  padding: 0;
  margin: 0;
  @import "mobile"; // media queries
}

/*=======================
DARK MODE SWITCHER START
========================*/
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--background-dark);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 17px;
  width: 40px;
  transform: scale(1.5);
  padding: 5px;
}


.label .ball {
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.theme-switcher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.up-icon {
  color: var(--background-dark);
}

/*=======================
DARK MODE SWITCHER END
========================*/

/*===================
  SECTION ONE START
==================*/
.s1 {
  background-color: var(--main-color);
  border-bottom: 1px solid var(--border-color);
  overflow: hidden;
}

/* 
===================
  SECTION ONE END
==================*/

/* 
===================
  SECTION TWO START
==================*/
.s2 {
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--border-color);
  overflow: auto;
}

.main-container {
  width: 1100px;
  overflow: hidden;
  margin: 0 auto;
}

.greeting-wrapper {
  display: grid;
  min-height: 10em;
  align-content: center;
  text-align: center;
  -webkit-text-fill-color: transparent;
  font-family: var(--ruso);
}

.h2-intro-text {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  -webkit-background-clip: text;
  font-family: var(--ruso);
}

.intro-wrapper {
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr, 1fr;
  /* grid-template-rows: 3em 30em; */
  grid-template-areas:
    "nav-wrapper  nav-wrapper"
    "left-column right-column";
}

.project-title-text {
  background: linear-gradient(90deg, #2a65f8, #3bd86d);
  -webkit-background-clip: text;
}
/* 
===================
  SECTION TWO END
==================*/

/* ===============
  NAVIGATION START  
 ===============*/

.icon-wrapper i {
  margin: 0 5px 0 15px;
  cursor: pointer;
}

.nav-wrapper {
  grid-area: nav-wrapper;
  display: flex;
  color: var(--main-text);
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0;
  a {
    color: var(--main-text);
    font-size: 20px;
    margin-right: 1em;
    outline: 0;
    text-decoration: none;
  }
}

.navigation {
  background-color: var(--background-dark);
  padding: 25px;
  width: 100%;
  text-align: center;
}

.navigation--item {
  font-size: 22px;
  font-family: var(--roboto);
  margin-left: 0.9em;
}

/* ===============
  NAVIGATION END 
 ===============*/

/* =====================================================================
 Navigation properties (social icons, a, i, current class, btn-wrapper) 
 START
 ===================================================================== */

.social-list__item {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
  color: var(--link-color);
}

.social-list__link {
  color: var(--link-color);
  padding: 0 1em 0 1em;
}

i:hover {
  color: #76e5fc;
}

#navigation {
  cursor: pointer;
  a {
    color: var(--main-text);
  }
}

.btn-wrapper {
  text-align: center;
  margin-bottom: 1em;
}

.current {
  border-bottom: var(--border-color-dark);
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

/* ====================================================================
 Navigation properties (social icons, a, i, current class, btn-wrapper) 
 END 
 ===================================================================== */

.btn-container {
  background-color: var(--btn-container);
}

/* ===============
  DOTS START 
 ===============*/
.dots-wrapper {
  display: flex;
  padding: 10px;
}

.browser-dot {
  background-color: var(--background-dark);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

#profile_pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--border-color);
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

.theme-dot {
  height: 30px;
  width: 30px;
  margin: 5px;
  border: 2px solid var(--theme-dot-border);
  background-color: var(--background-dark);
  border-radius: 50%;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  &:hover {
    border-width: 5px;
  }
}

#dot-1 {
  background-color: var(--dot-1);
}

#dot-2 {
  background-color: var(--dot-2);
}

#dot-3 {
  background-color: var(--dot-3);
}
/* ===============
  DOTS END 
 ===============*/

/* 
=====================
  LEFT COL STYLES  
=====================*/
.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

/* 
=========================
  RIGHT COL STYLES  START
=========================*/
.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

#preview-shadow {
  background-color: var(--preview-shadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: var(--preview-bg);
  padding: 15px;
  position: relative;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 100px;
}

#skills {
  border-radius: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--preview-shadow);
  h4 {
    color: var(--dark-text);
  }
}
#social-img {
  width: 100%;
}

.social-links {
  display: grid;
  align-content: center;
  text-align: center;
}

.thumbnail {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
  background-size: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* 
=========================
  RIGHT COL STYLES  END
=========================*/
.post {
  padding-bottom: 50px;
}

.post-preview {
  background-color: var(--secondary-color);
  padding: 25px;
  border-radius: 15px;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 450px);
  gap: 50px;
  justify-content: center;
}

.post-title {
  color: var(--main-text);
  margin: 0;
}

.post-title:nth-child(2) {
  margin-top: 23px;
}

.post-title:nth-child(3) {
  margin-top: 23px;
}

.post-intro {
  color: var(--paragraph-color);
  line-height: 2;
  font-size: 18px;
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--main-text);
  background-color: vaar(--button-color);
  border: none;
}

.container-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* =============
 POSTS END 
 ============= */

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  font-size: 14px;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 650px;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
  border: 1px solid var(--border-color);
  img {
    object-fit: cover;
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
  }
}

.container:first-of-type {
  margin-top: 1em;
}

.card-title {
  text-align: center;
}
.card-text {
  line-height: 1.6;
  font-size: 18px;
  word-wrap: wrap;
  text-align: center;
  color: var(--paragraph-color);
}

/*================
SCROLL TO TOP START
==================*/

.btn-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollToTopBtn {
  z-index: 5;
  border-radius: 20%;
  background-color: var(--preview-shadow);
  i {
    font-size: 25px;
  }
}

.s1-alt {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.h3-center {
  text-align: center;
}

/*================
SCROLL TO TOP END
==================*/

/*================
UL NAV ITEMS 
==================*/
.home {
  font-size: 20px;
}
.projects {
  font-size: 20px;
}

.home:hover,
.projects:hover {
  color: #17a2b8;
}

.about-desc {
  color: var(--paragraph-color);
  line-height: 1.7;
}
