@tailwind base;
@tailwind components;
@tailwind utilities;

code[class*="language-"],
pre[class*="language-"] {
  @apply text-gray-800 text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}


pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.remark-code-title {
  @apply text-gray-400 text-gray-200 px-5 py-5 rounded-t bg-gray-200 bg-gray-800 text-sm font-mono font-bold;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.mdx-marker {
  @apply block -mx-4 px-4 bg-gray-100 bg-gray-800 border-l-4 border-blue-500;
}

.prose pre {
  @apply bg-gray-50 border  bg-gray-900;
}

.prose pre > p {
  @apply mt-4 mb-4 leading-4;
}

.prose code {
  @apply text-gray-400 text-gray-200 px-1 py-0.5 rounded-md bg-gray-100 bg-gray-900;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}
