name: Analyze Bundle

on:
  pull_request:
    branches-ignore:
      - main  
  push:
    branches:
      - dev
  workflow_dispatch:
env:
  NEXT_PUBLIC_SANITY_PROJECT_ID: ${{ secrets.NEXT_PUBLIC_SANITY_PROJECT_ID }}

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Checkout
        uses: actions/checkout@v3

      - name: Use latest npm version
        run: npm i -g npm@8

      - name: Install dependencies
        run: npm ci

      - name: Build next.js app
        run: npm run build

      - name: Analyze bundle
        run: npx -p nextjs-bundle-analysis report
        working-directory: .

      - name: Upload bundle
        uses: actions/upload-artifact@v3
        with:
          path: .next/analyze/__bundle_analysis.json
          name: bundle_analysis.json

      - name: Download base branch bundle stats
        uses: luke-h1/action-download-artifact@v2
        if: success() && github.event.number
        with:
          workflow: analyze.yml
          branch: ${{ github.event.pull_request.base.ref }}
          name: bundle_analysis.json
          path: .next/analyze/base/bundle

      - name: Compare with base branch bundle
        if: success() && github.event.number
        run: ls -laR .next/analyze/base && npx -p nextjs-bundle-analysis compare

      - name: Upload analysis comment
        uses: actions/upload-artifact@v3
        with:
          name: analysis_comment.txt
          path: .next/analyze/__bundle_analysis_comment.txt

      - name: Save PR number
        run: echo ${{ github.event.number }} > ./pr_number

      - name: Upload PR number
        uses: actions/upload-artifact@v3
        with:
          name: pr_number
          path: ./pr_number

      # The actual commenting happens in the other action, matching the guidance in
      # https://securitylab.github.com/research/github-actions-preventing-pwn-requests/